
:root {
    --dark-background: #470938;
    --border-color: #f2d6eb;
   
}
html{
    color: var(--border-color);
}
.top-container{
    height: 800px;

    background-color: var(--dark-background);
}
.cloud-wrapper {
    position: relative;
    height: 800px;
    width: 800px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Mansalva', cursive;
}
body {
    margin: 0%;
}
.cloud-wrapper img {
    position: absolute;
}
.mountain {
    bottom: 0%;
    left: 12%;
}
.cloud-wrapper h1 {
    position: absolute;
    top: 10px;
    left: 20%;
}
.cloud-wrapper p {
    position: absolute;
    top: 230px;
    left: 30%;
}
span {
    text-decoration: underline;
}
.cloud1{
    top: 8%;
    right: 15%;
}
.cloud2 {
    top: 180px;
    left: 8%;
}
.cloud3 {
    top: 30%;
    right: 21%;
}
.middle-container {
    width: 75%;
    margin: 0 auto;
    border: 2px solid var(--border-color);
    background: #f700ff;
    font-family: 'Exo 2', sans-serif;
}
.profile {
    text-align: center;
    padding-bottom: 2rem 0;
}
.profile img{
    width: 100px;
    padding: 2rem 0;
}
.profile h2 {
    font-size: 3rem;
}
.profile p{

}
.skills{
    text-align: center;
  
}
hr {
    color: var(--border-color);
    border-width: 2px;
    border-style: solid none none;
    
}
.contact-me {
    text-align: center;
    padding-bottom: 1rem;
}
.butn {
    background: #ee89ee;
    background-image: -webkit-linear-gradient(top, #ee89ee, #850a68);
    background-image: -moz-linear-gradient(top, #ee89ee, #850a68);
    background-image: -ms-linear-gradient(top, #ee89ee, #850a68);
    background-image: -o-linear-gradient(top, #ee89ee, #850a68);
    background-image: linear-gradient(to bottom, #ee89ee, #850a68);
    margin: 0 auto;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 0px 0px 9px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 1px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #ff00e1;
    text-decoration: none;
  }